.navBar {
  position: sticky;
  top: 0;
  background-color: var(--nav-bg);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-bottom: 1px solid black;
  z-index: 1;
}
 
.logo {
  width: 100px;
  z-index: 2;
}
.navLinks {
  display: flex;
  gap: var(--spacing-md);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

.userControlsgroup {
  display: flex;
  gap: var(--spacing-xxl);
}
.userControls {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
