.navBar {
  position: sticky;
  top: 0;
  background-color: var(--nav-bg);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-md);
  border-bottom: 1px solid black;
  z-index: 1;
}

.logo {
  width: 100px;
  z-index: 2;
}
.navItems {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.navLinks {
  display: flex;
  gap: var(--spacing-md);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  cursor: pointer
}
.userControlsgroup {
  display: flex;
  gap: var(--spacing-xxl);
}
.userControls {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}
.shoppingCart{
  margin-left: 5rem;
}

.navToogle {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navItems {
    position: absolute;
    background-color: var(--nav-bg);
    top: 4rem;
    left: 0;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 2rem;
    width: 100svw;
    height: 90svh;
    padding: var(--spacing-lg) ;
    transition: 0.3s ease all;
    transform: translateX(-100%);
    z-index: 1;
  }
  .navItems.open {
    transform: translateX(0);
    
   }
   .logo {
    width: 80px;
    z-index: 2;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
  }
  .userControlsgroup {
    width: 100%;
    display: flex;

  }
  .userControls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-md);
  }
  .userControls input {
    width: 100%;
    
  }
  .navToogle {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  .navToogle span {
    width: 30px;
    height: 4px;
    background: white;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
    
  }
  .navToogle.open > span {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .navToogle.open > span:nth-child(2) {
    display: none;
  }
  .navToogle.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);

  }
      
  .shoppingCart{
    position: relative;
    /* left: 16px; */
    margin-left: 0px;
  }
}

@media screen and (max-width: 380px) {
    .shoppingCart{
      margin-right: 3%;
    }
}
