.section {
    padding: var(--spacing-md);
    padding-inline: var(--spacing-xl);
}
.section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    
}
.section h2 {
    margin-bottom: var(--spacing-sm);
    
}