@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&family=Shanti&display=swap");
@media screen and (max-width: 420px) {
  
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  border: none;
  cursor: pointer;
}

:root {
  --_size: 1.8rem;
  --_radius: 0.2em;
  --_tspeed_fast: 180ms;
  --_tspeed_slow: 300ms;
  --_ttype_squish: cubic-bezier(0.86, -0.1, 0.27, 1.15);

  /* Base Colors */
  --red: #fb044c;
  --yellow: #fafb55;
  --blue: #cdd129;
  --teal: #bad7c3;
  --olive: #a6ab06;
  --black: #000000;

  --jet-stream: #b4d4cb;
  --fun-green: #047c21;

  /* Light Mode */
  --color-primary-light: var(--red);
  --color-secondary-light: var(--blue);
  --color-background-light: #ffffff;
  --color-accent-light: var(--teal);
  --color-alert-light: var(--olive);
  --txt--light: #333333;
  --muted--light: #666666;
  --nav-background-light: #f0f0f0;

  /* Dark Mode */
  --color-primary-dark: var(--red);
  --color-secondary-dark: var(--teal);
  --color-background-dark: #333333;
  --color-accent-dark: var(--olive);
  --color-alert-dark: var(--fun-green);
  --txt--dark: #eeeeee;
  --muted--dark: #bbbbbb;
  --nav-background-dark: #2a2a2a;

  /* Breakpoints for mobile devices */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;

  /* Breakpoints for tablets */
  --breakpoint-md: 768px;

  /* Breakpoints for desktops */
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;

  /* Font Sizes */
  --font-size-xsmall: 0.80rem;
  --font-size-small: 0.9rem;
  --font-size-base: 1.1rem;
  --font-size-large: 1.25rem;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;

  /* Borders */
  --border-width: 1px;
  --border-radius: 0.25rem;
  --border-radius-sm: 0.2rem;
  --border-radius-lg: 0.3rem;
  --border-radius-xl: 0.7rem;
  --border-radius-xxl: 1.7rem;

  /* Transitions and Animations */
  --transition-fast: 0.3s ease-in-out;
  --transition-slow: 0.6s ease-in-out;

  /* Durations */
  --duration-fast: 200ms;
  --duration-slow: 500ms;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--color-background-dark);
    --txt: var(--txt--dark);
    --nav-bg: var(--nav-background-dark);
    --accent: var(--color-accent-dark);
    --alert: var(--color-alert-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: var(--color-background-light);
    --txt: var(--txt--light);
    --nav-bg: var(--nav-background-light);
    --accent: var(--color-accent-light);
    --alert: var(--color-alert-light);
  }
}

[color-scheme="dark"] {
  --bg: var(--color-background-dark);
  --txt: #dddddd;
  --nav-bg: var(--nav-background-dark);
  --accent: var(--color-accent-dark);
  --alert: var(--color-alert-dark);
  --muted: #bbbbbb;
}

[color-scheme="light"] {
  --bg: var(--color-background-light);
  --txt: #333333;
  --nav-bg: var(--nav-background-light);
  --accent: var(--color-accent-light);
  --alert: var(--color-alert-light);
  --muted: #666666;
}

@media screen and (max-width: 768px) {
  :root {
    --_size: 1.3rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --_tspeed_fast: 50ms;
    --_tspeed_slow: 50ms;
  }
}

body {
  height: 100dvh;
  background-color: var(--bg);
  color: var(--txt);

  font-family: "Poiret One", cursive;
}

main{
min-height: 36.5rem;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
}

p,
li,
button,
input,
span {
  font-family: "Shanti", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}


/* Establecimiento de la familia de fuentes base */
.shanti-regular,
.poiret-one-regular,
.kanit-style {
  font-style: normal;
  font-family: sans-serif;
}

.shanti-regular {
  font-family: "Shanti", sans-serif;
  font-weight: 400;
}

.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
}

/* Configuración genérica para Kanit con diferentes pesos y estilos */
.kanit-style {
  font-family: "Kanit", sans-serif;
}

/* Clases para cada peso y estilo de Kanit */
.kanit-thin {
  font-weight: 100;
}
.kanit-extralight {
  font-weight: 200;
}
.kanit-light {
  font-weight: 300;
}
.kanit-regular {
  font-weight: 400;
}
.kanit-medium {
  font-weight: 500;
}
.kanit-semibold {
  font-weight: 600;
}
.kanit-bold {
  font-weight: 700;
}
.kanit-extrabold {
  font-weight: 800;
}
.kanit-black {
  font-weight: 900;
}

/* Clases para estilos itálicos de Kanit */
.kanit-thin-italic,
.kanit-extralight-italic,
.kanit-light-italic,
.kanit-regular-italic,
.kanit-medium-italic,
.kanit-semibold-italic,
.kanit-bold-italic,
.kanit-extrabold-italic,
.kanit-black-italic {
  font-style: italic;
}
