.productCard {
  position: relative;
  flex: 1 1 20%;
  min-width: 240px;
  
  box-shadow: 0 2px 7px #dfdfdf;
  border-radius: var(--spacing-md);
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.productTumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  padding: 50px;
  border-top-left-radius: var(--spacing-md);
  border-top-right-radius: var(--spacing-md);
  background: #f0f0f0;
}

.productTumb img {
  /* border: #363636 1px solid; */
  max-width: 120px;
  max-height: 90px;
  transform: scale(2);
}


.productDetails {
  height: 180px;
  padding: 30px;
}

.productCatagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
 
}
.productDetails h4 a {
  font-weight: 500;
  display: block;

  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.productDetails h4 a:hover {
  color: #fbb72c;
}

.productDetails p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.productBottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.productBottom-details div {
  float: left;
  width: 50%;
}

.productPrice p {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.productPrice small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.productLinks a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.productLinks a:hover {
  color: #fbb72c;
}
