.changePasswordContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    /* background-color: var(--accent); */
    padding: var(--spacing-xl);
    min-height: 45rem;
}
.form,
.inputBoxes {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  min-width: 320px;
  max-width: 620px;
  width: 100%;
  margin-inline: auto;
}
.form {
  gap: var(--spacing-md);
}

.inputBoxes input {
  background-color: none;
  border: 1px solid var(--muted);
  border-radius: var(--border-radius-xl);
  padding: 0.3rem 0.6rem;
}
.submitButtons {
    padding-top: var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }
  .submitButtons button {
    width: 100%;
  }
  .errors {
    color: red !important;
  }
  