.navBar {
 
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    padding-inline: var(--spacing-xl);
    background-color: var(--nav-bg);
    
}