.buttonToTop{
    position: fixed;
    bottom: 28px;
    left: 48px;
    display: none;
}

.isVisible {
  display: block;
}
@media screen and (max-width: 380px) {
  .buttonToTop{
    position: fixed;
    bottom: 28px;
    left: 28px;
    display: none;
}

}