.form,
.inputBoxes {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}
.form {
  gap: var(--spacing-md);
}

.inputBoxes input {
  background-color: none;
  border: 1px solid var(--muted);
  border-radius: var(--border-radius-xl);
  padding: 0.3rem 0.6rem;
}

select {
  height: 2.25rem;
  padding: 0.3rem 0.6rem;
  background-color: transparent;
  border: 1px solid var(--muted);
  border-radius: var(--border-radius-xl);
}
.submitButtons {
  padding-top: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.submitButtons button {
  width: 100%;
}
.errors {
  color: red !important;
}
.thumbnailCont {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
}
.thumbnailCont button {
  width: 20px;
  border-radius: var(--border-radius-xl);
  border: 1px solid black;
  background: none;
  padding: 0.2rem;
}

.thumbnail {
  width: 80px;
  margin-inline: auto;
}
.thumbnailWrapper {
  position: relative;
  display: flex;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: red;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.checkboxes {
  display: flex;
  justify-content: space-evenly;
}
