.whatsApp{
    position: fixed;
    bottom: 28px;
    right: 48px;
    z-index: 1;
    cursor: pointer;
}
.whatsApp svg{
    background-color: chartreuse;
    width: 60px;
    height: 60px;
    padding: .3rem;
    border-radius: 50%;
}