.filterBox {
  display: flex;
  flex-direction: column;
  border-radius: var(--spacing-md);
  width: 30%;
  gap: 2rem;
  height: 100%;
  background: #fafafa3d;
  padding: var(--spacing-md);
 
}
.filterBox li {
  cursor: pointer;
}
.filterBox ul {
  max-height: 320px;
  overflow-y: scroll;
}
