.authPanel{
    /* transform: scale(0.6); */
    display: flex;
    /* flex-direction: column; */
    gap: var(--spacing-sm);
    width: 80px;
    font-size: var(--font-size-small);
}
.btn{
    padding: var(--spacing-sm);
    display: flex;
    justify-content: end;
}