.authPanel{
    display: flex;
    gap: var(--spacing-sm);
    width: 80px;
    font-size: var(--font-size-small);
}
.btn{
    padding: var(--spacing-sm);
    display: flex;
    justify-content: end;
}
.forget{
    text-align: center;
    padding: var(--spacing-sm);
    padding-top: var(--spacing-md);
    cursor: pointer;
}