.productDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--bg);
  font-family: Arial, sans-serif;
}

.productDetailMain {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  background-color: var(--nav-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.productThumbnails, .productInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.productInfo {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productCategory, .productBrand, .productName {
  text-align: center;
}

.productCategory {
  font-size: 1.2em;
  color: var(--muted);
}

.productBrand {
  font-size: 1.5em;
  color: var(--txt);
}

.productName {
  font-size: 2em;
  font-weight: bold;
  color: var(--txt);
}

.productPricingBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: var(--nav-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
}

.priceOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.cashPrice, .debitPrice, .installmentPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 10px;
  background-color: var(--bg);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cashPrice p, .debitPrice p, .installmentPrice p {
  margin: 0;
  color: var(--muted);
}

.cashPrice b, .debitPrice b, .installmentPrice b {
  font-size: 1.2em;
  color: var(--txt);
}

.productActions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.productActions a {
  text-decoration: none;
  color: #ffffff;
  background-color: var(--color-primary-light);
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s ease;
}

.productActions a:hover {
  background-color: var(--color-primary-dark);
}

.productActions i {
  font-size: 1.2em;
}

.productDescription {
  width: 90%;
  max-width: 1200px;
  background-color: var(--nav-bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  word-wrap: break-word;
  text-align: justify;
}

@media (max-width: 768px) {
  .productDetailMain {
    flex-direction: column;
  }

  .priceOptions {
    flex-direction: column;
  }
}
