.tableCont {
  overflow-x: auto; 
}

input{
  background-color: none;
  border: 1px solid var(--muted);
  border-radius: var(--border-radius-xl);
  padding: 0.3rem 0.6rem; 
  margin-block: .3rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  overflow-x: scroll;
}

thead {
  background-color: #333;
  color: white;
}
thead tr {
  cursor: pointer;
}

th,
td {
  padding: 12px 15px;
  border-bottom: 1px solid #ddd; 
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: rgba(97, 97, 97, 0.133);
}

th:last-child, td:last-child {
  justify-content: flex-end;
  text-align: right;
  flex: 0 0 100px; 
}
.buttons span {
  display: flex;
  font-size: smaller;
  justify-content: end;
}
.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%; 
  right: 0; 
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent button {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
}

.dropdown:hover .dropdownContent {
  display: flex;
  justify-content: flex-end;
}

.dropdownIcon {
  cursor: pointer;
  width: 28px;
}
.buttons {
  padding-block: .7rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}