.footer {
  width: 100%;
  min-height: 18rem;
  /* position: absolute; */
  bottom: 0;
  display: flex;
  gap: var(--spacing-lg);
  flex-direction: column;
  justify-content: end;
  background-color: var(--nav-bg);
}
.data {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}
.data article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
article h2 {
  font-weight: bolder;
  font-size: var(--font-size-large);
}
article p {
  /* font-weight: bold; */
  font-size: var(--font-size-small);

}
.bottom {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  text-align: center;
  justify-content: center;
}

.bottom p {
  max-width: var(--breakpoint-md);
  margin-inline: auto;
  padding-inline: 2rem;
  line-height: .9rem;
  font-size: var(--font-size-small);
}

.copyright {
  background-color: var(--nav-bg);
  font-size: small;
}
.logo{
  margin-inline: auto;

}
.logo img{
  width: 240px;
  border-radius: 1.25rem; 
  border: 2px solid #343a4049; 
}
