
.shoppingCartCont{
  position: relative;
  display: flex;
  cursor: pointer;
}
.icon {
  position: relative;
  margin-bottom: 0.51rem;
  margin-left: 2rem;
  width: 66px;
  height: 100%;
  padding: var(--spacing-sm);
}
.shoppingCartAmmount{
  position: absolute;
  font-size: 14px; 
  width: 24px;
  height: 24px;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bold;
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 999;
  transform: translate(50%, 50%);
}
